


.navStyles {
width: 100%; 

}


.caseStudyTitle {
    text-align: center; 
    margin: 250px 0px; 
    color: purple; 
    font-size: 36px; 

}

.myPortfolio {
    text-align: center; 
    margin: 250px 0px; 
    color: purple; 
    font-size: 36px; 
}



/* Fashion 1010 */

.pageTitle {
    padding: 20px; 
}


.sideNav {
    padding-left: 20px; 
}




.footerStyles {
    clear: both; 
    text-align: center; 

}




