


.navStyles {
width: 100%; 

}


.caseStudyTitle {
    text-align: center; 
    margin: 250px 0px; 
    color: purple; 
    font-size: 36px; 

}

.myPortfolio {
    text-align: center; 
    margin: 250px 0px; 
    color: purple; 
    font-size: 36px; 
}


.footerStyles {
    clear: both; 
    text-align: center; 

}